<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>审批完成</title>
    <link rel="stylesheet" type="text/css" href="../../styles/explorer.css">
    <link rel="stylesheet" type="text/css" href="../../styles/alpha.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/disk-system/css/alpha.css?t=1587277018749">-->
    <link rel="stylesheet" type="text/css" href="../../styles/function.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/base/css/function.css?t=1588154562498">-->
    <link rel="stylesheet" type="text/css" href="../../styles/context-all_2b14e94.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/system-core/pkg/context-all_2b14e94.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/all_52b0158.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/disk-system/pkg/all_52b0158.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/home-all_0417883.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/disk-system/pkg/home-all_0417883.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/main-all_1804208.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/service-widget-1/pkg/main-all_1804208.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/activity-all_9a2207b.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/function-widget-1/pkg/activity-all_9a2207b.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/sync-all_100ebfc.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/function-widget-1/pkg/sync-all_100ebfc.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/upDataTips-all_f08b64f.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/function-widget-1/pkg/upDataTips-all_f08b64f.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/asideAppDownloads-all_9e09c9a.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/interface-widget-1/pkg/asideAppDownloads-all_9e09c9a.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/sync-all_6df50b9.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/interface-widget-1/pkg/sync-all_6df50b9.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/activity_26dfb4a.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/interface-widget-1/mainSmallBanner/util/activity_26dfb4a.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/quota-all_6785087.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/interface-widget-1/pkg/quota-all_6785087.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/vipWarn-all_2f77222.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/interface-widget-1/pkg/vipWarn-all_2f77222.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/uploader-all_886e186.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/disk-system/pkg/uploader-all_886e186.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/rMenu_af343fe.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/system-core/system/uiService/rMenu/rMenu_af343fe.css">-->
    <link rel="stylesheet" type="text/css" href="../../styles/disk.header.css">
    <!--    <link rel="stylesheet" type="text/css" href="/box-static/disk-header/disk.header.css?t=1585919416869">-->

    <!--PAGINATION-->
    <link rel="stylesheet" href="../local_bootstrap_min.css">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



</head>
<body>

<link rel="stylesheet" type="text/css" href="../../styles/cover.css">
<!--<link rel="stylesheet" type="text/css" href="/box-static/disk-system/css/cover.css?t=1587277018749">-->

<link rel="stylesheet" node-type="theme-link" type="text/css" href="../../styles/diskSystem-theme.css">
<!--<link rel="stylesheet" node-type="theme-link" type="text/css" href="/box-static/disk-theme/theme/white/diskSystem-theme.css">-->

<div class="frame-all" id="layoutApp">
    <div class="skin-main"></div>
    <div class="yuzkp0F" node-type="yuzkp0F">
        <div class="jebtcnYj" node-type="jebtcnYj">
            <div class="zEx7va" node-type="zEx7va">
                <div class="4uv64A" node-type="4uv64A">
                    <div class="frame-aside" id="layoutAside">
                        <div class="NJQzbg" node-type="NJQzbg">
                            <div node-type="rhr6QW" class="module-aside DtJtsC">
                                <div class="KHbQCub"></div>




                                <ul class="fOHAbxb">

                                    <li node-type="qcqrmO4" data-key="list" class="wpB2an bHzsaPb">

                                        <a node-type="gcmlBeD8" path="/" class="juRGOx ddkhrnMY" hidefocus="true" href="approve">

                                        <span class="text">
                                        <span node-type="dxRxVX" class="icon icon-disk"></span>
                                        <span node-type="skur8eq">审批</span>
                                        </span>

                                        </a>

                                    </li>

                                    <li node-type="qcqrmO4" data-key="pic" class="wpB2an">

                                        <a node-type="gcmlBeD8" class="ddkhrnMY" hidefocus="true" href="approving_">

                                            <span class="text">
                                            <span node-type="skur8eq">审批中</span>
                                            </span>

                                        </a>


                                    </li>

                                    <li node-type="qcqrmO4" data-key="doc" class="wpB2an">

                                        <a node-type="gcmlBeD8" cat="4" class="ddkhrnMY" hidefocus="true" href="approved_" style="color: #09AAFF">

                                            <span class="text">
                                            <span node-type="skur8eq">审批完成</span>
                                            </span>

                                        </a>

                                    </li>

                                </ul>







                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="q7L6A5P" node-type="q7L6A5P">
                <div class="r9QDNp" node-type="r9QDNp">
                    <div class="frame-main" id="layoutMain" style="display: block;">
                        <div class="iWN5Hq" node-type="iWN5Hq">
                            <div class="fIGURYO" node-type="fIGURYO">
                                <div class="ExBMUT7" node-type="ExBMUT7">
                                    <!--[if IE]>
                                    <iframe id="historyIFrameEmulator" style="display: none"></iframe><![endif]-->

                                    <!--################################ PAGINATION ##############################-->

                                    <div class="container ">

                                    </div>

                                    <div class="container ">

                                        <!-- Table structure here -->
                                        <table class="table table-dark" id="our-table">
                                            <thead>
                                                <tr>
                                                    <th>文件名</th>
                                                    <th>大小</th>
                                                    <th>创建日期</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table-body">
                                                <!-- 这里存行数据 -->
                                            </tbody>
                                        </table>

                                    </div>

                                    <div class="container ">

                                        <div id="pagination-wrapper"></div>

                                        <script src="../pagination.js"></script>

                                    </div>




















<!--                                    <div node-type="KPDwCE" class="KPDwCE" style="height: 408px;">-->
<!--                                        <div node-type="JDeHdxb" class="JDeHdxb">-->
<!--                                            <span class="EgMMec" style="color: #888">全部文件</span>-->
<!--                                            <ul class="FuIxtL" node-type="FuIxtL" style="display: none;">-->
<!--                                                <li><a data-deep="-1" href="javascript:;">返回上一级</a><span-->
<!--                                                        class="EKIHPEb">|</span></li>-->
<!--                                                <li node-type="tbAudfb"></li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                        <div class="QxJxtg">-->
<!--                                            <div class="xGLMIab">-->
<!--                                                <ul class="QAfdwP tvPMvPb" node-type="tvPMvPb">-->
<!--                                                    <li data-key="name" class="fufHyA yfHIsP" style="width:60%;">-->
<!--                                                        <div node-type="fydGNC" class="Qxyfvg fydGNC"><span-->
<!--                                                                class="zbyDdwb"></span><span-->
<!--                                                                class="MIMvNNb">全选</span><span-->
<!--                                                                class="icon NbKJexb icon-checksmall"></span></div>-->
<!--                                                        <span class="text">文件名</span><span class="xEuDywb"></span><span-->
<!--                                                            class="icon aHEytd icon-up"></span><span-->
<!--                                                            class="icon sFxCFbb icon-downtitle"></span>-->
<!--                                                    </li>-->
<!--                                                    <li data-key="size" class="fufHyA" style="width:16%;"><span-->
<!--                                                            class="text">大小</span><span class="xEuDywb"></span><span-->
<!--                                                            class="icon aHEytd icon-up"></span><span-->
<!--                                                            class="icon sFxCFbb icon-downtitle"></span></li>-->
<!--                                                    <li data-key="time" class="fufHyA gObdAzb"-->
<!--                                                        style="width:23%;"><span class="text">修改日期</span><span-->
<!--                                                            class="xEuDywb"></span><span-->
<!--                                                            class="icon aHEytd icon-up"></span><span-->
<!--                                                            class="icon sFxCFbb icon-downtitle"></span></li>-->
<!--                                                </ul>-->
<!--                                                <ul class="vwCPvP tvPMvPb" node-type="tvPMvPb" style="display: none;">-->
<!--                                                    <li class="fufHyA yfHIsP">-->
<!--                                                        <div node-type="fydGNC" class="Qxyfvg fydGNC"><span-->
<!--                                                                class="zbyDdwb"></span><span-->
<!--                                                                class="MIMvNNb">全选</span><span-->
<!--                                                                class="icon NbKJexb icon-checksmall"></span></div>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                                <div class="FcQMwt global-clearfix">-->
<!--                                             <span-->
<!--                                                     class="MdLxwM">已选中0个文件/文件夹</span>-->
<!--                                                    <div class="KKtwaH"></div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="zJMtAEb" style="">-->
<!--                                            <div node-type="NHcGw" class="NHcGw"-->
<!--                                                 style="overflow-y: auto; height: 350px;">-->
<!--                                                <div class="vdAfKMb" style="height: auto;">-->

<!--                                                    <dd class="g-clearfix AuPKyz open-enable" _position="3"-->
<!--                                                        _cmd_installed="1" _installed="1">-->
<!--                                                        <div class="file-name" style="width:60%">-->
<!--                                                            <div class="text"><a href="javascript:void(0);"-->
<!--                                                                                 class="tvnnorMe" title="上传文件20200301">上传文件20200301</a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="lknqza" style="width:16%">-</div>-->
<!--                                                        <div class="hsnWDA" style="width:23%">2020-03-01 22:15</div>-->
<!--                                                        <div class="kpbNdA1" style="width:0%"><span class="vwvlgV3E"-->
<!--                                                                                                    node-type="erngpqr"></span>-->
<!--                                                        </div>-->
<!--                                                    </dd>-->

<!--                                                    <dd class="g-clearfix AuPKyz open-enable" _position="3"-->
<!--                                                        _cmd_installed="1" _installed="1">-->
<!--                                                        <div class="file-name" style="width:60%">-->
<!--                                                            <div class="text"><a href="javascript:void(0);"-->
<!--                                                                                 class="tvnnorMe" title="上传文件20200301">上传文件20200301</a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="lknqza" style="width:16%">-</div>-->
<!--                                                        <div class="hsnWDA" style="width:23%">2020-03-01 22:05</div>-->
<!--                                                        <div class="kpbNdA1" style="width:0%"><span class="vwvlgV3E"-->
<!--                                                                                                    node-type="erngpqr"></span>-->
<!--                                                        </div>-->
<!--                                                    </dd>-->

<!--                                                    <dd class="g-clearfix AuPKyz open-enable" _position="3"-->
<!--                                                        _cmd_installed="1" _installed="1">-->
<!--                                                        <div class="file-name" style="width:60%">-->
<!--                                                            <div class="text"><a href="javascript:void(0);"-->
<!--                                                                                 class="tvnnorMe" title="上传文件20200301">上传文件20200301</a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="lknqza" style="width:16%">-</div>-->
<!--                                                        <div class="hsnWDA" style="width:23%">2020-03-01 22:05</div>-->
<!--                                                        <div class="kpbNdA1" style="width:0%"><span class="vwvlgV3E"-->
<!--                                                                                                    node-type="erngpqr"></span>-->
<!--                                                        </div>-->
<!--                                                    </dd>-->

<!--                                                    <dd class="g-clearfix AuPKyz open-enable" _position="3"-->
<!--                                                        _cmd_installed="1" _installed="1">-->
<!--                                                        <div class="file-name" style="width:60%">-->
<!--                                                            <div class="text"><a href="javascript:void(0);"-->
<!--                                                                                 class="tvnnorMe" title="上传文件20200301">上传文件20200301</a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="lknqza" style="width:16%">-</div>-->
<!--                                                        <div class="hsnWDA" style="width:23%">2020-03-01 22:05</div>-->
<!--                                                        <div class="kpbNdA1" style="width:0%"><span class="vwvlgV3E"-->
<!--                                                                                                    node-type="erngpqr"></span>-->
<!--                                                        </div>-->
<!--                                                    </dd>-->

<!--                                                    <dd class="g-clearfix AuPKyz open-enable" _position="3"-->
<!--                                                        _cmd_installed="1" _installed="1">-->
<!--                                                        <div class="file-name" style="width:60%">-->
<!--                                                            <div class="text"><a href="javascript:void(0);"-->
<!--                                                                                 class="tvnnorMe" title="上传文件20200301">上传文件20200301</a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="lknqza" style="width:16%">-</div>-->
<!--                                                        <div class="hsnWDA" style="width:23%">2020-03-01 22:05</div>-->
<!--                                                        <div class="kpbNdA1" style="width:0%"><span class="vwvlgV3E"-->
<!--                                                                                                    node-type="erngpqr"></span>-->
<!--                                                        </div>-->
<!--                                                    </dd>-->

<!--                                                    <dd class="g-clearfix AuPKyz open-enable" _position="3"-->
<!--                                                        _cmd_installed="1" _installed="1">-->
<!--                                                        <div class="file-name" style="width:60%">-->
<!--                                                            <div class="text"><a href="javascript:void(0);"-->
<!--                                                                                 class="tvnnorMe" title="上传文件20200301">上传文件20200301</a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="lknqza" style="width:16%">-</div>-->
<!--                                                        <div class="hsnWDA" style="width:23%">2020-03-01 22:05</div>-->
<!--                                                        <div class="kpbNdA1" style="width:0%"><span class="vwvlgV3E"-->
<!--                                                                                                    node-type="erngpqr"></span>-->
<!--                                                        </div>-->
<!--                                                    </dd>-->

<!--                                                    <dd class="g-clearfix AuPKyz open-enable" _position="3"-->
<!--                                                        _cmd_installed="1" _installed="1">-->
<!--                                                        <div class="file-name" style="width:60%">-->
<!--                                                            <div class="text"><a href="javascript:void(0);"-->
<!--                                                                                 class="tvnnorMe" title="上传文件20200301">上传文件20200301</a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="lknqza" style="width:16%">-</div>-->
<!--                                                        <div class="hsnWDA" style="width:23%">2020-03-01 22:05</div>-->
<!--                                                        <div class="kpbNdA1" style="width:0%"><span class="vwvlgV3E"-->
<!--                                                                                                    node-type="erngpqr"></span>-->
<!--                                                        </div>-->
<!--                                                    </dd>-->

<!--                                                    <dd class="g-clearfix AuPKyz open-enable" _position="3"-->
<!--                                                        _cmd_installed="1" _installed="1">-->
<!--                                                        <div class="file-name" style="width:60%">-->
<!--                                                            <div class="text"><a href="javascript:void(0);"-->
<!--                                                                                 class="tvnnorMe" title="上传文件20200301">上传文件20200301</a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="lknqza" style="width:16%">-</div>-->
<!--                                                        <div class="hsnWDA" style="width:23%">2020-03-01 22:05</div>-->
<!--                                                        <div class="kpbNdA1" style="width:0%"><span class="vwvlgV3E"-->
<!--                                                                                                    node-type="erngpqr"></span>-->
<!--                                                        </div>-->
<!--                                                    </dd>-->

<!--                                                    <dd class="g-clearfix AuPKyz open-enable" _position="3"-->
<!--                                                        _cmd_installed="1" _installed="1">-->
<!--                                                        <div class="file-name" style="width:60%">-->
<!--                                                            <div class="text"><a href="javascript:void(0);"-->
<!--                                                                                 class="tvnnorMe" title="上传文件20200301">上传文件20200301</a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="lknqza" style="width:16%">-</div>-->
<!--                                                        <div class="hsnWDA" style="width:23%">2020-03-01 22:05</div>-->
<!--                                                        <div class="kpbNdA1" style="width:0%"><span class="vwvlgV3E"-->
<!--                                                                                                    node-type="erngpqr"></span>-->
<!--                                                        </div>-->
<!--                                                    </dd>-->

<!--                                                    <dd class="g-clearfix AuPKyz open-enable" _position="3"-->
<!--                                                        _cmd_installed="1" _installed="1">-->
<!--                                                        <div class="file-name" style="width:60%">-->
<!--                                                            <div class="text"><a href="javascript:void(0);"-->
<!--                                                                                 class="tvnnorMe" title="上传文件20200301">上传文件20200301</a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="lknqza" style="width:16%">-</div>-->
<!--                                                        <div class="hsnWDA" style="width:23%">2020-03-01 22:05</div>-->
<!--                                                        <div class="kpbNdA1" style="width:0%"><span class="vwvlgV3E"-->
<!--                                                                                                    node-type="erngpqr"></span>-->
<!--                                                        </div>-->
<!--                                                    </dd>-->

<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="fyQgAEb" style="display: none;">-->
<!--                                            <div node-type="BNfIyPb" class="BNfIyPb" style="height: 350px;">-->
<!--                                                <div class="JKvHJMb"></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="wPQwLCb" style="visibility: hidden;">-->
<!--                                            <div class="gQNsDv">-->
<!--                                                <svg class="spinner" width="26px" height="26px" viewBox="0 0 66 66"-->
<!--                                                     xmlns="http://www.w3.org/2000/svg">-->
<!--                                                    <circle class="path" fill="none" stroke-width="6"-->
<!--                                                            stroke-linecap="round" cx="33" cy="33" r="30"-->
<!--                                                            style="stroke:#09aaff"></circle>-->
<!--                                                </svg>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="ExFGye">-->
<!--                                            <div class="sxrwa5"><input node-type="twROYQ" class="GadHyA" type="text"-->
<!--                                                                       value=""><span node-type="worwk5"-->
<!--                                                                                      class="fsxPyyQ"><em-->
<!--                                                    class="icon fcgrjAd"></em><em-->
<!--                                                    class="icon ucrqQn"></em></span><span node-type="peRMwg"-->
<!--                                                                                           class="pbkP4oD"><em-->
<!--                                                    class="icon fcgrjAd"></em><em class="icon pzjnr06N"></em></span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="T3gwwp" node-type="T3gwwp">
                <div class="ImM2F0K" node-type="ImM2F0K">
                    <div class="frame-main" id="layoutServiceHolder" style="display: none;"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="layoutHeader">
        <div node-type="module" class="module-header">
            <div node-type="module-header-wrapper" class="module-header-wrapper" style="height: 62px;">

                <dl class="xtJbHcb">

                    <dt class="EHazOI">
                        <a href="/approving.html" target="_self" title="湘电的风能"></a>
                    </dt>

                    <dd class="CDaavKb" node-type="header-apps">

                        <span class="DIcOFyb" node-type="app-user-info">

                            <span class="user-photo-box">
                                <i class="user-photo" style="background-image:url(../../resource/logo_for_explorer.jpg); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale');"></i>
                            </span>

                            <span class="user-name" style="color: white">湘电风能</span>

                        </span>

                    </dd>

                    <dd class="CDaavKb" node-type="header-apps">

                        <span class="DIcOFyb" node-type="app-user-info">

                            <span class="user-photo-box">
                                <i class="user-photo" style="background-image:url(../../resource/user_pic.jpg);"></i>
                            </span>

                            <span th:text="username" class="user-name" style="color: white"></span>

                        </span>

                    </dd>

                </dl>

            </div>
        </div>
    </div>
</div>
</body>
</html>