.activity-banner {
    position: fixed;
    z-index: 9;
    bottom: 44px;
    right: 20px;
    width: 210px;
    height: 176px;
    background: url(/box-static/function-widget-1/activity/img/activity_9d0bfba.png) no-repeat;
    background-size: 100% 100%
}

.activity-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
    background: url(/box-static/function-widget-1/activity/img/activity-close_2c25168.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer
}