.file-recovery-dialog-body .icon {
    background: url(/box-static/interface-widget-1/fileRecoveryDialog/img/file_recovery_24979e7.png) no-repeat;
    width: 73px;
    height: 77px;
    margin: 0 auto 15px
}

.file-recovery-dialog-body .recovery-tips {
    display: inline-block;
    background-color: #f7f7f7;
    color: #999;
    margin-top: 14px;
    padding: 3px 12px;
    border: 1px solid #d3d3d3
}

.file-recovery-dialog-body .recovery-tips .file-icon {
    width: 18px;
    height: 15px;
    margin: 0 5px;
    background: url(/box-static/interface-widget-1/fileRecoveryDialog/img/file_icon_8b82bd8.png) no-repeat;
    display: inline-block;
    vertical-align: text-top
}

.file-recovery-dialog-body .recovery-tips span {
    color: #333
}

.file-recovery-dialog {
    z-index: 48
}

.file-recovery-dialog .g-button-blue-large {
    width: 157px
}
